@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,400italic,600,600italic,700,700italic);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

@blue: #363A51;
@darkblue: #012F4C;
@markblue: #35415c;
@lightblue: #A2B9D4;

body {
    background: #dde2e8;
}


#heroes {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;


    .hero {
        position: relative;
        flex-basis: 300px;
        width: 300px;
        background: white;
        box-shadow: 0 0 4px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
        margin: 10px;

        @media (max-width: 320px) {
            margin-left: 0;
        }

        @media (min-width: 380px) {
            flex-basis: 360px;
            width: 360px;


            .top {
                .title {
                    width: 245px;
                }
            }

            .ability {
                .stats {
                    line-height: 20px;
                    font-size: 14px;
                }


                .image-circle {
                    height: 48px;
                }
            }

            .ability-name {
                font-size: 14px;
            }
        }


        &:after {
            content: '';
            display: block;
            clear: both;
        }
    }

    .attributes {
        color: @blue;
        font-size: 20px;
        line-height: 24px;
        text-transform: uppercase;

        span:last-child {
            color: #ff9c00;
        }
    }

    .top {
        position: relative;
        width: 100%;
        height: 150px;
        padding-left: 145px;
        padding-top: 80px;

        img {
            z-index: 1;
            background-color: #d8d8d8;
            background-position: 0 25%;
            background-size: cover;
            background-repeat: no-repeat;
            position: absolute;
            left: 5px;
            top: 5px;
            width: 130px;
            height: 130px;
        }

        .title {
            position: absolute;
            top: 10px;
            left: 125px;
            width: 185px;
            -webkit-transform: skew(-20deg);
            -moz-transform: skew(-20deg);
            -o-transform: skew(-20deg);
            background: #f4f4f4;
            height: 40px;
            box-shadow: 0 0 4px rgba(0,0,0,.12),0 1px 2px rgba(0,0,0,.24);
        }

        .name {
            position: absolute;
            top: 10px;
            left: 135px;
            height: 40px;
            line-height: 40px;
            margin: 0;
            font-family: 'Roboto Condensed', sans-serif;
            font-size: 24px;
            font-weight: 700;
            font-style: italic;
            text-transform: uppercase;
            color: @blue;
            padding-left: 10px;
            box-decoration-break: clone;

        }
    }

    .bototm {
        width: 100%;
    }
}

.ability {
    position: relative;
    margin-bottom: 10px;
    min-height: 60px;
    border-bottom: 1px solid #f4f4f4;

    .stats {
        position: relative;
        text-align: left;
        background: @lightblue;
        float: left;
        padding: 4px 6px;
        margin-right: -1px;
        margin-top: -1px;
        font-size: 11px;
        line-height: 13px;
        font-style: italic;
    }

    .stats-value {
        color: white;

    }

    .stats-name {
        color: @blue;
        text-transform: uppercase;
    }

    &:after {
        content: '';
        display: block;
        clear: both;
    }

    .image-circle {
        width: 40px;
        height: 34px;
    }

    img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        height: auto;
        max-width: 70%;
        max-height: 65%;
        color: black;
    }
}

.ability-name {
    position: relative;
    font-weight: 600;
    font-size: 13px;
    height: 26px;
    line-height: 26px;
    color: @blue;
    padding: 0 5px;
    font-style: italic;

}
